/* Source: https://www.smashingmagazine.com/native-css-masonry-layout-css-grid/
.masonry {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: masonry;
  align-tracks: stretch ;
}
.masonry-item { /* Masonry bricks or child elements 
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: white;
}
.masonry-item, .masonry-item > .card {
  min-height: 100px;
}
.masonry-item > .card > div > img {
  
  max-width: 100%;
}
@media screen and (min-width: 400px) {
  .masonry {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 600px) {
  .masonry {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 800px) {
  .masonry {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  .masonry {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .masonry {
    grid-template-columns: repeat(6, 1fr);
  }
} */

.masonry-item > div > div > img {
  width: 100%;
}
@media screen and (min-width: 200px)  { .masonry-item { width: 100%; } }
@media screen and (min-width: 400px)  { .masonry-item { width: 50%; } }
@media screen and (min-width: 600px)  { .masonry-item { width: 33.333%; } }
@media screen and (min-width: 800px) { .masonry-item { width: 25%; } }
@media screen and (min-width: 1000px) { .masonry-item { width: 20%; } }
@media screen and (min-width: 1200px) { .masonry-item { width: 16.667%; } }
@media screen and (min-width: 1400px) { .masonry-item { width: 14.285%; } }
@media screen and (min-width: 1600px) { .masonry-item { width: 12.5%; } }
@media screen and (min-width: 1800px) { .masonry-item { width: 11.111%; } }
@media screen and (min-width: 2000px) { .masonry-item { width: 10%; } }
