body {
  margin:0;
  background-color:#2b0f54;
}
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}
.top-right > a { text-decoration: none; padding: 3px; border-radius: 5px; }
.top-right > a:hover { background-color: #ab1f65; }