body, li, div, span, input, textarea, select, option, td, th, a { font-family: arial; }

table { border-collapse: collapse; }

h3 { text-align: center; }
.table-input , input, button, #message {
  width: 95%;
  display: block;
  font-size: 20px;
  margin: 10px auto;
}

.table-input  td, .table-input  th {
  height: 40px;
  text-align: center;
  padding: 5px;
}
.gray-cell {
  background-color: #CCC;
}
.cell-input {
  text-align: center;
}
